body {
}

.card {
    width: 250px;
    height: 215px;
    background: #fbf6ed;
    display: flex;
    justify-content: center;
}

.box-login {
    width: 200px;
}

.aling-center {
    text-align: center;
}

input {
    width: 100%;
    box-sizing: border-box;
}

#msg {
    color: red;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.buttons{
    text-align: right;
}

.full-width{
    width: 100%;
}

.card-clientes{
    width: 1200px;
    display: flex;
    justify-content: center;
    background-color: #fbf6ed;
}

.card-clientes2{
    width: 1000px;
}

th, td{
    font-size: 14px;
    text-align: left;
}

label, button{
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 14px!important;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}